
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^hanseinthant\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.hanseinthant\.com$
RewriteRule ^/?$ "https\:\/\/hanseinthant\.com\/" [R=301,L]

